@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");


.header {
  color: white;
  font-size:200%;
  background-color: #003844;
  text-align: center;
  padding: 20px;
  border: 5px double white;
  padding-bottom: 20px;
}

/*The whole ass navigation bar*/

ul {
  list-style-type: none;
  font: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: #CEBEBE;
}

li {
  display: inline;
}

/* The container - needed to position the dropdown content */

li a, .dropbtn {
  display: inline-block;
  color: #735D78;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #D5B9B2;
 
} 

li.dropdown {
  display:inline;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: fixed;   /* positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).*/
  background-color: #D5B9B2;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: LemonChiffon;}

.dropdown:hover .dropdown-content {
  display: inline;
}
/*Navigation Bar Transition*/
div, h2, img {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.three {
  background-color: #FBE2A9;
  border: 5px solid #735D78;
  outline: 5px solid transparent;
}
.three:hover {
  outline: 5px solid #D5B9B2;
  outline-offset: 5px;
}

/*Basic html schtuff*/

body {
		background-image: url("https://st4.depositphotos.com/11351024/21307/i/450/depositphotos_213075862-stock-photo-binary-code-number-computer-digital.jpg");
		font-family: 'Source Sans Pro', sans-serif;
		border-left: 50px;
		border-right: 50px;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;	

}


h6  {
	font: inherit;
	font-size: 40px;
	float: left;
	background-color: white;
	margin-right: 800px;
	margin-left: 30px;
}

.column {
  float: left;
  width: 33.33%;

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}